body {
  background: url(https://data.istex.fr/img/BG_ISTEX_LIGHT_DESKTOP.jpg) center repeat;
  height: 100%;
}

html {
  height: 100%;
}

h1 .small {
  margin-top: 1em;
  margin-bottom: 1em;
}

.catch-phrase {
  margin-top: 10%;
  margin-right: 3%;
}

.capture {
  width: 100%;
  height: auto;
}

footer {
  font-size: large;
  margin-top: 3%;
}

a {
  text-decoration: underline;
}

#addingToBrowser {
  color: black;
  background-color: #c4d733;
  display: block;
  margin: auto;
  margin-top: 1em;
  width: 100%;
}
